/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/

.mainFxmlClass{
    -fx-background-color: #fff;
}

.btnCadastrar{
    -fx-background-color:  #0a457f;
    -fx-border-radius: 20;
    -fx-background-radius:20;
}

.btnVoltar{
    -fx-background-color:  #052f5f;
}

.input{
    -fx-background-color: #eee;
    -fx-border-width: 0;
    -fx-border-radius: 17;
    -fx-background-radius: 17;
}

.label{
    -fx-text-fill: #141301;
    -fx-margin-left: 200px;
}

.title{
    -fx-text-fill: #736372;
}

.btnCancelar{
    -fx-background-color:  #FF6B6B;
    -fx-border-radius: 20;
    -fx-background-radius:20;
}